.Rproj.user
.Rhistory
.RData
.Ruserdata
L_Corona_app_wave5_3p.sav
L_CoronaMelder_wave1_3p.sav
L_Corona_app_wave2_3p.sav
L_Corona_app_wave3_3p.sav
L_Corona_app_wave4_3p.sav
L_Corona_app_wave6_3p.sav
markdown.docx
